@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

// 미디어쿼리
// 모바일
$mobile-width: 480px;
@mixin mobile {
  @media (min-width: 320px) and (max-width: $mobile-width) {
    @content;
  }
}

$class-slug: for !default;
$point-font-bold: "Montserrat", sans-serif;
$main-font-light: "NanumSquareLight", sans-serif;
$main-font-ExtraBold: "NanumSquareExtraBold", sans-serif;
$main-font-Bold: "NanumSquareBold", sans-serif;
$header-width: 80px;
$main-font-color: #1e1e1e;
$yellow: rgb(251, 212, 138);
$white: rgb(255, 255, 255);
$alpha-2: 0.2;
$alpha-5: 0.5;
$alpha-8: 0.8;
// $memberwidth: 160px;
// $memberMargin: 17px;
$memberMargin: 20px;
$memberwidth: 150px;
$activeMemberWidth: 250px;
$content-width: 1000px;
@font-face {
  font-family: "NanumSquareLight";
  src: url("../src/fonts/NanumSquareLight.woff2") format("woff2");
}
@font-face {
  font-family: "NanumSquareBold";
  src: url("../src/fonts/NanumSquareBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareExtraBold";
  src: url("../src/fonts/NanumSquareExtraBold.ttf") fromat("truetype");
}
%title-font {
  font-size: 24px;
  font-family: $point-font-bold;
  display: inline;
}
%border-bottom {
  border-bottom: 2px solid $main-font-color;
}
%point-text {
  font-size: 48px;
  font-family: $main-font-ExtraBold;
}
%happy-font {
  font-size: 48px;
  line-height: 1.29;
  letter-spacing: -1.6px;
  font-family: $main-font-light;
  .bold {
    font-family: $main-font-ExtraBold;
  }
}
%happy-font-sub {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.3;
  .bold {
    font-family: $main-font-ExtraBold;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.466666666666666);
  }
}

@mixin keyframes-slide($num) {
  @keyframes slide {
    0% {
    }
    100% {
      right: $num * 250px;
      background: red;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.99;
  }
}
// 폴라 애니메이션
@keyframes pola-animation {
  from {
  }
  30% {
    transform: rotate(-20deg);
  }
  35% {
    transform: rotate(0deg);
  }
  to {
    left: 100%;
  }
}
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  animation: #{$str};
}
@include keyframes(chat-animation1) {
  0% {
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    bottom: 120px;
    transform: scale(1);
  }
}
@include keyframes(chat-animation2) {
  0% {
    transform: sclae(0.7);
  }
  50% {
    bottom: -50px;
  }
  88% {
    transform: scale(1);
  }
  98% {
    transform: scale(0.9);
  }
  to {
    transform: sclae(1);
    bottom: 75px;
  }
}
@keyframes chat-animation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes swing-animation {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  margin: 0;
  font-family: $main-font-light;
  font-size: 16px;
  color: $main-font-color;
  line-height: 1.69;
  overflow-x: hidden;
}
p {
  margin: 0;
}
//  MainTop 컴포넌트
.mainTop {
  height: 100vh;
  position: relative;
  padding-top: 80px;
  .box {
    // margin: 80px;
  }
  .header-wrap {
    background: rgba($white, $alpha-8);

    height: $header-width;
    position: fixed;
    top: 0;

    width: 100%;
    z-index: 10;

    .header {
      // width: 80%;
      width: $content-width;
      margin: auto;
      display: flex;
      justify-content: space-between;
      height: 100%;

      .logo {
      }
      .menu {
        width: 400px;

        ul {
          justify-content: space-between;
          display: flex;
          height: 100%;
          margin: 0;
          padding: 0;
          li {
            font-family: $point-font-bold;
            font-size: 18px;
            align-self: center;
            list-style: none;
            a {
              text-decoration: none;
              color: $main-font-color;
            }

            img {
              width: 33px;
              height: 33px;

              display: block;
            }
          }
        }
      }
    }
  }
  &__img {
    background-image: url("../src/images/main_pic_mono.png");
    background-size: 100vw calc(100vh - 80px);
    height: calc(100vh - 80px);

    .content {
      height: 100%;
      width: $content-width;
      margin: auto;
      position: relative;
      .content-wrap {
        position: absolute;
        bottom: 66px;
        p {
          margin: 0;
        }
        .title {
          height: 197px;
          @extend %point-text;
          p {
            line-height: 62px;
            letter-spacing: -0.7px;
          }
        }
        .desc {
          p {
            line-height: 27px;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
}
// map 지도
.map {
  height: 608px;
  width: 1200px;
  background: url("../src/images/main_worldmap.png");
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;

  .wrap {
    width: $content-width;
    margin: auto;
    position: relative;
    .content {
      position: absolute;
      top: 260px;
      right: 0;
      background: pink;
      p {
        margin: 0;
        &:nth-child(1) {
          @extend %point-text;
          line-height: 62px;
          letter-spacing: -1.6px;
        }
        &:nth-child(2) {
          line-height: 27px;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}
//  philosophy 컴포넌트

.philosophy {
  height: 1115px;
  background: #f2f2f2;
  display: flex;
  &__wrap {
    margin: auto;
    // width: 80%;
    width: $content-width;
    height: 80%;
    .title {
      display: inline-block;
      @extend %title-font;
      @extend %border-bottom;
    }
    .content {
      padding-top: 3rem;
      width: 1000px;
      height: 90%;
      margin: auto;
      &__keyword {
        height: 50%;
        .wrap {
          height: 90%;
          @extend %border-bottom;
          display: flex;
          justify-content: space-between;

          .keyword {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 300px;
            border: 2px solid $main-font-color;
            border-radius: 50%;
            .text {
              p {
                font-size: 48px;

                &:nth-child(1) {
                  height: 124px;
                  line-height: 50px;
                  margin: 0;
                  letter-spacing: -1.4px;
                }
                &:nth-child(2) {
                  width: 50px;
                  height: 2px;
                  background-color: $main-font-color;
                  margin: 0 auto;
                }
                &:nth-child(3) {
                  line-height: 24px;
                  font-size: 16px;
                  font-family: $main-font-Bold;
                }
              }
            }
          }
        }
      }
      &__desc {
        padding-top: 3rem;
        height: 40%;
        .wrap {
          height: 90%;
          display: flex;
          .img {
            width: 50%;
            height: 100%;
            img {
              width: 90%;
              height: 100%;
            }
          }
          .text {
            p {
              margin: 0;
            }
            .title {
              border: none;
              @extend %happy-font;
            }

            .desc {
              line-height: 1.69;
              letter-spacing: -0.3px;
            }
          }
        }
      }
    }
  }
}
// our brand 컴포넌트
.brand-container {
  height: 960px;
  overflow: hidden;
  position: relative;
  .button {
    border: none;
    width: 140px;
    height: 42px;
    border-radius: 22px;
    background: $main-font-color;
    text-align: center;
    line-height: 42px;
    font-family: $main-font-ExtraBold;
    margin-top: 3rem;
    z-index: 5;
    color: #ffffff;
  }
  .brand-wrap {
    width: 3000px;
    overflow: hidden;

    .brand {
      height: 960px;
      width: 1500px;
      position: absolute;
      &.happy {
        transform: skew(-10deg);
        background-image: linear-gradient(to bottom, #fdecbe, #fbd48a);
        right: 50%;
      }
      &.pola {
        background: linear-gradient(to bottom, #d5edff, #abd7ff);
        left: 50%;
        transform: skew(-10deg);
      }
    }
    .box {
      width: 100vw;

      .center {
        // width: 80%;
        width: $content-width;
        margin: auto;
        display: flex;

        .brand-box {
          border: 1px solid black;
          width: 770px;
          height: 960px;
          z-index: 1;
          position: relative;
          .img {
            z-index: 1;

            // 해피 캐릭터
            .happy-img {
              position: absolute;

              left: -60px;
            }
            // 폴라 캐릭터
            .pola-img {
              // background: yellow;
            }
          }

          .container-title {
            height: 300px;

            .title {
              margin-top: 140px;

              @extend %title-font;
              display: inline-block;
              @extend %border-bottom;
            }
          }
          .content {
            background: red;
            position: relative;
            z-index: 99;
            &.pola {
              margin-left: 4rem;
            }
            .title {
              display: flex;
              font-size: 24px;
              h3 {
                margin: 0;
                line-height: 1.9;
                margin-right: 1rem;
              }
              .bold {
                line-height: 1.29;
                font-family: $main-font-ExtraBold;
                font-size: 48px;
              }
            }
          }
        }
      }

      img {
        position: absolute;
        bottom: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
// 해피 폴라 박스

.accomplish {
  height: 800px;
  background: rgba(242, 242, 242, 0.5);
  display: flex;
  .wrap {
    // width: 80%;
    width: $content-width;
    margin: auto;
    height: 70%;
    display: flex;
    .content-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text {
        p {
          @extend %happy-font;
        }
      }
    }
    .content-img {
      background: #fbd48a;
      width: 100px;
      height: 100px;
    }
  }
}
// TeamPC 컴포넌트

.team-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbd48a;
  width: 100vw;
  .team {
    width: $content-width;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      .title {
        @extend %title-font;
        display: flex;
        display: inline-block;
        @extend %border-bottom;
      }
    }
    &__message {
      p {
        margin: 1rem 0;
        text-align: center;
        font-family: $main-font-Bold;
      }
      .bold {
        font-size: 36px;
        font-family: $main-font-light;
      }
    }

    &__member {
      display: inline-block;

      margin: auto;

      // display: flex;
      display: flex;
      .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .carousel-box {
        margin: auto;
        background: red;
        // width: 958px;
        width: 900px;
        //(160px * 4+ 17px * 4 + 250px);
        @include mobile {
          width: 150px;
        }
        display: flex;
        height: $activeMemberWidth;
        overflow: hidden;
        position: relative;

        @for $i from 0 through 33 {
          .carousel-#{$i} {
            // transform: translate(-177px * $i);
            transform: translate(-170px * $i);
          }
        }

        .carousel {
          position: relative;
          //
          // left: calc(337px + 8.5px);
          left: 330px;
          display: flex;
          transition: transform 1s;
          background: red;
          .item {
            // margin: 0 8.5px;
            margin: 0 10px;
            background: skyblue;
            min-width: $memberMargin;
            min-height: $memberwidth;

            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
              width: 220px;
            }
            &__img {
              display: flex;
              width: $memberwidth;
              height: $memberwidth;
              &.active {
                animation-name: scale;
                animation-fill-mode: forwards;
                animation-duration: 1s;
              }
              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
// happy page

.happy {
  // 해피페이지 -헤더
  .header-wrap {
    height: $header-width;
    background-color: $yellow;
    position: fixed;
    z-index: 10;
    width: 100%;
    .wrap {
      background: rgba($white, $alpha-2);
      .header {
        height: 100%;
        // width: 80%;
        width: $content-width;
        margin: auto;
        .nav {
          display: flex;
          justify-content: space-between;
          height: 100%;
          div {
            line-height: $header-width;
          }
          .home {
            a {
              vertical-align: middle;
              width: 40px;
              height: 40px;
              display: inline-block;
            }
          }
          .lang {
            img {
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  // 메인 섹션
  .main-wrap {
    height: calc(100vh - 80px);
    overflow: hidden;
    background: #fbd48a;
    padding-top: 80px;
    .main {
      width: $content-width;
      margin: auto;
      position: relative;
      height: 100%;
      background: green;

      &__content {
        .happy_main-img {
          width: 500px;
          position: absolute;
          right: 0;
          bottom: -10px;
        }
        p {
          @extend %happy-font;
          padding-top: 100px;
        }
        .img {
          width: 500px;
          height: 400px;
          background: skyblue;
          position: absolute;
          bottom: 80px;
        }
      }
    }
    // 컬쳐
  }
  .culture-wrap {
    // 높이 지정하지 않고 패딩으로 조절함.
    display: flex;
    .culture {
      width: 864px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 140px 0;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 49px;
        .text {
          width: 100%;
          text-align: center;
          p {
            margin: 0;
          }
          .title {
            @extend %happy-font;
            margin-bottom: 19px;
          }
          .desc {
            @extend %happy-font-sub;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        width: 864px;
        margin-top: 73px;
        .item {
          .img {
          }
          .text {
            padding-top: 2rem;
            border-top: 2px solid $yellow;
            font-size: 48px;
            line-height: 1.29;
          }
        }
      }
      // 슬라이드 해피
      .middle {
        margin: 0;
        padding: 45px 0;
      }
    }
  }
  // 버전
  .version-wrap {
    background: rgba($yellow, $alpha-5);

    .version {
      margin: auto;
      &__title {
        padding: 143px 0;
        .title {
          text-align: center;
          margin-bottom: 60px;
          @extend %happy-font;
        }
        .list {
          padding: 0;
          list-style: none;

          margin: auto;

          li {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            background: red;
            height: 330px;
            vertical-align: middle;
            .img {
              width: 780px;
              background: pink;
            }
            .title {
              text-align: left;
              width: 334px;
              background: green;
              @extend %happy-font;
              margin: 0;
              display: flex;
              align-items: flex-end;
              p {
                display: inline;
              }
            }
          }
        }
      }
      &__detail {
        .detail {
          border-top: 2px solid #ffffff;
          padding: 135px 0;
          .detail-wrap {
            .img {
              margin: auto;
              width: 300px;
              height: 124px;
              background: tomato;
            }

            .text {
              margin-top: 40px;
              p {
                margin: 0;
                text-align: center;
                @extend %happy-font;
                &:nth-child(2) {
                  @extend %happy-font-sub;
                }
              }
            }
          }
        }
      }
    }
  }
  // 해피네임 비전
  .vision-wrap {
    height: 700px;

    .vision {
      height: 100%;
      // width: 80%;
      width: $content-width;
      margin: auto;
      display: flex;
      .img {
        width: 50%;
        background: pink;
      }
      .text-wrap {
        width: 50%;
        background: skyblue;
        position: relative;
        .text {
          width: 300px;
          background: red;
          position: absolute;
          top: 30%;
          p {
            margin: 0;
            @extend %happy-font-sub;

            &:nth-child(1) {
              @extend %happy-font;
            }
          }
        }
      }
    }
  }
}

// footer 컴포넌트 푸터

.footer {
  padding-top: 47px;
  background: #4a4a4a;
  color: #ffffff;
  height: 300px;
  &__wrap {
    margin: auto;
    display: flex;
    justify-content: center;

    .right {
      margin-right: 50px;
      p {
        margin: 0;
        .bold {
          font-family: $main-font-Bold;
          font-size: 24px;
        }
      }
    }
    .left-wrap {
      display: inline;

      .left {
        p {
          margin: 0;
        }
        .business {
          margin: 5px 0;
        }
        .address {
          display: flex;
          font-style: normal;
          a {
            text-decoration: none;
            color: #ffffff;
            margin: 0 3px;
          }
        }
      }
    }
  }
}
// partner component

.partner {
  height: 680px;
  display: flex;

  .wrap {
    margin: 3rem 0;
    margin: auto;
    width: $content-width;
    height: 80%;
    margin-bottom: 0;

    .title {
      @extend %title-font;
      @extend %border-bottom;
    }
    .img {
      padding: 3rem 0 2rem 0;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc {
      width: 90%;
      margin: 2rem auto;
      text-align: center;
    }
  }
}

// contact component
.contact {
  height: 800px;
  display: flex;
  .wrap {
    // width: 80%;
    width: $content-width;
    margin: auto;
    height: 70%;
    .component-title {
      @extend %title-font;
      @extend %border-bottom;
    }
    .content {
      display: flex;
      margin-top: 90px;
      height: 328px;

      &__map {
        width: 50%;
        height: 100%;
        background: green;
      }
      &__text {
        height: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          @extend %happy-font;
        }
        .address {
          @extend %happy-font-sub;
          font-style: normal;
          p {
            margin: 0;
            a {
              text-decoration: none;
              color: $main-font-color;
            }
          }
        }
      }
    }
  }
}

// 슬라이드
.slide-wrap {
  display: flex;
  position: relative;

  .button {
    width: 100%;
    margin: auto;
    position: absolute;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    div {
      cursor: default;
      margin: 0 20px;
      &.backward {
        height: 30px;
        background: red;
      }
      &.forward {
        background: blue;
      }
    }
    &.happy {
      div {
        margin: 0 -40px;
      }
    }
  }
  .slide {
    position: relative;
    width: 500px;
    height: 200px;
    //  해피 슬라이드
    &.happy {
      width: 864px;
      height: 394px;
    }
    // 폴라 슬라이드
    &.pola {
      width: 100vw;
      height: 800px;
    }
    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      background: #1e1e1e;
      li {
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.active {
          z-index: 2;
          animation-name: fade;
          animation-timing-function: ease;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
        }
        .img {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    // 슬라이드 내비게이션

    &__nav {
      margin: 0;
      z-index: 5;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      li {
        margin-right: 0.5rem;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(30, 30, 30, 0.5);
        &.active {
          background: $main-font-color;
        }
      }
    }
  }
}
// 폴라 페이지
// pola page

.pola {
  .header-wrap {
    position: fixed;
    background: $white;
    width: 100%;
    z-index: 10;
    .header {
      background: rgba($white, $alpha-2);
      margin: 0 2rem;
      border-bottom: 2px solid #d8d8d8;
      ul {
        padding: 0 6rem;
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
          img {
            width: 33px;
            height: 33px;
          }
        }
      }
    }
  }
  .main-wrap {
    position: relative;
    height: calc(100vh - 80px);
    padding-top: 80px;
    .main {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top {
        width: 450px;
        margin-top: 10rem;
      }
      .bottom {
        width: 632.4px;
        height: 95.1px;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 124px;
      background-image: linear-gradient(to bottom, #e5f0f8, #c7dcef);
      position: absolute;
      bottom: 0;
    }
    // 폴라 애니메이션
    .pola {
      position: absolute;
      z-index: 3;
      width: 150px;
      height: 147px;
      bottom: 100px;
      left: 3%;
      animation-name: pola-animation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
  .intro-wrap {
    height: 700px;

    .intro {
      .text {
        padding-top: 140px;
        text-align: center;
        @extend %happy-font;
        h2 {
          display: inline;
        }
      }
    }
  }
  .use-wrap {
    background-image: linear-gradient(to bottom, #e5f0f8, #c7dcef);

    .use {
      padding: 150px 0 120px 0;
      ul {
        list-style: none;
        li {
          .img {
            width: 450px;
            height: 450px;
            border-radius: 50%;
            overflow: hidden;
            background: #9bbedf;
            padding: 0;
            margin: auto;
            position: relative;
            &.use-0 {
              background-image: url("../src/images/polapolar_keyword_0.png");
              width: 450px;
              height: 450px;
            }
            &.use-1 {
              position: relative;
              .pola-arm {
                width: 135px;
                height: 145px;
                @include animation("swing-animation 2s infinite");
                top: 235px;
                right: 80px;
                z-index: 3;
                position: absolute;
                // background: red;
                .arm {
                  width: 90px;
                  height: 90px;
                  margin: 0;
                }
              }
            }
            img {
              width: 359px;
              height: 350px;
              margin: 100px 45px 0 45px;
            }
            .keyword {
              img {
                position: absolute;
                left: 30%;
                bottom: -50px;
                margin: 0;
              }
              &-1 {
                width: 200px;
                height: 60px;
                // bottom: 120px;
                &.active {
                  @include animation("chat-animation1 0.7s ease-out forwards");
                  // animation-fill-mode: forwards;
                }
              }
              &-2 {
                width: 120px;
                height: 35px;
                &.active {
                  @include animation("chat-animation2 1.4s ease-out forwards");
                  // animation-fill-mode: forwards;
                }
              }
            }
          }
          .text {
            @extend %happy-font;
            text-align: center;
            padding: 40px 0;
          }
        }
      }
      &:after {
        margin: auto;
        content: "";
        display: block;
        width: 1000px;
        height: 2px;
        background: #9bbedf;
        margin-top: 150px;
      }
    }
  }
  // 폴라폴라 특징
  .feature-wrap {
    height: 1150px;
    background: #c7dcef;
    .feature {
      width: 1000px;
      margin: auto;
      display: flex;
      .img {
        width: 180px;
        height: 180px;
      }
      .detail-wrap {
        .detail-line {
          display: flex;
          .item-wrap {
            margin-left: 30px;
            background: url("../src/images/polapolar_talkbubble.png");
            background-size: 423px 400px;
            background-repeat: no-repeat;
            width: 423px;
            height: 400px;
            margin-top: 50px;
            .item {
              margin: 59px 0 0 43px;

              .img {
                width: 220px;
                height: 114px;
              }
              .title {
                @extend %happy-font;
                margin-top: 14px;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .pola-slide {
    position: relative;

    .text {
      height: 180px;
      background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.9) 26%,
        rgba(255, 255, 255, 0.9) 72%,
        rgba(255, 255, 255, 0.3)
      );
      bottom: 0;
      width: 100%;
      position: absolute;
      z-index: 5;
      font-size: 48px;
      text-align: center;
      p {
        margin-top: 40px;
      }
    }
    .text {
    }
  }
  .message {
    height: 700px;
    background: yellow;
    @extend %happy-font;
    text-align: center;
    p {
      padding-top: 140px;
    }
  }
}
